In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loading the Data
draft = pd.read_csv('draft/draft.csv')
stats = pd.read_csv('stats/stats.csv')
# Find the number of rows and columns
print(f'There are {draft.shape[0]} rows and {draft.shape[1]} columns for the draft data')
print(f'There are {stats.shape[0]} rows and {stats.shape[1]} columns for the stats data')

There are 1485 rows and 4 columns for the draft data
There are 5372 rows and 5 columns for the stats data

In [3]:
draft.head(150)

     Pick                 Name Position  Year
0       1       Saquon Barkley       RB  2019
1       2         Alvin Kamara       RB  2019
2       3  Christian McCaffrey       RB  2019
3       4      Ezekiel Elliott       RB  2019
4       5         James Conner       RB  2019
..    ...                  ...      ...   ...
145   146       Dallas Defense      DEF  2019
146   147          Carlos Hyde       RB  2019
147   148           Josh Allen       QB  2019
148   149        Greg Zuerlein       PK  2019
149   150       Denver Defense      DEF  2019

[150 rows x 4 columns]

In [4]:
stats.head(150)

     Rank                 Name Position  Points  Year
0       1        Lamar Jackson       QB   421.7  2019
1       2  Christian McCaffrey       RB   355.2  2019
2       3         Dak Prescott       QB   348.9  2019
3       4       Jameis Winston       QB   335.2  2019
4       5       Russell Wilson       QB   333.5  2019
..    ...                  ...      ...     ...   ...
145   145  Philadelphia Eagles      DST   109.0  2019
146   147          Case Keenum       QB   108.4  2019
147   148       Dustin Hopkins        K   108.0  2019
148   148    Green Bay Packers      DST   108.0  2019
149   150      Jamaal Williams       RB   107.3  2019

[150 rows x 5 columns]

In [5]:
# Replace 'DEF' with 'DST' to be consistent with the stats table.
draft['Position'] = draft['Position'].str.replace('DEF', 'DST')

In [6]:
# Replace 'K' with 'PK' to be consistent with the stats table.
draft['Position'] = draft['Position'].str.replace('PK', 'K')

In [7]:
# Replace Team Nickname with 'Defense' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('Cardinals', 'Defense')
stats['Name'] = stats['Name'].str.replace('Ravens', 'Defense')
stats['Name'] = stats['Name'].str.replace('Falcons', 'Defense')
stats['Name'] = stats['Name'].str.replace('Bills', 'Defense')
stats['Name'] = stats['Name'].str.replace('Panthers', 'Defense')
stats['Name'] = stats['Name'].str.replace('Bengals', 'Defense')
stats['Name'] = stats['Name'].str.replace('Bears', 'Defense')
stats['Name'] = stats['Name'].str.replace('Browns', 'Defense')
stats['Name'] = stats['Name'].str.replace('Cowboys', 'Defense')
stats['Name'] = stats['Name'].str.replace('Broncos', 'Defense')
stats['Name'] = stats['Name'].str.replace('Lions', 'Defense')
stats['Name'] = stats['Name'].str.replace('Texans', 'Defense')
stats['Name'] = stats['Name'].str.replace('Packers', 'Defense')
stats['Name'] = stats['Name'].str.replace('Colts', 'Defense')
#stats['Name'] = stats['Name'].str.replace('Rams', 'Defense')
stats['Name'] = stats['Name'].str.replace('Jaguars', 'Defense')
stats['Name'] = stats['Name'].str.replace('Vikings', 'Defense')
stats['Name'] = stats['Name'].str.replace('Chiefs', 'Defense')
stats['Name'] = stats['Name'].str.replace('Saints', 'Defense')
#stats['Name'] = stats['Name'].str.replace('Raiders', 'Defense')
#stats['Name'] = stats['Name'].str.replace('Giants', 'Defense')
#stats['Name'] = stats['Name'].str.replace('Chargers', 'Defense')
stats['Name'] = stats['Name'].str.replace('Eagles', 'Defense')
stats['Name'] = stats['Name'].str.replace('Dolphins', 'Defense')
stats['Name'] = stats['Name'].str.replace('49ers', 'Defense')
stats['Name'] = stats['Name'].str.replace('Patriots', 'Defense')
stats['Name'] = stats['Name'].str.replace('Seahawks', 'Defense')
#stats['Name'] = stats['Name'].str.replace('Jets', 'Defense')
stats['Name'] = stats['Name'].str.replace('Buccaneers', 'Defense')
stats['Name'] = stats['Name'].str.replace('Steelers', 'Defense')
stats['Name'] = stats['Name'].str.replace('Football Team', 'Defense')
stats['Name'] = stats['Name'].str.replace('Titans', 'Defense')

In [8]:
# Replace 'Le'Veon' with 'LeVeon' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace("Le'Veon", 'LeVeon')

In [9]:
# Replace 'Jr.' with 'Jr' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('Jr.', 'Jr')

In [10]:
# Replace 'Pat Mahomes' with 'Patrick Mahomes' to be consistent with the stats table.
draft['Name'] = draft['Name'].str.replace('Pat Mahomes', 'Patrick Mahomes')

In [11]:
# Replace 'Mark Ingram II' with 'Mark Ingram' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('Mark Ingram II', 'Mark Ingram')

In [12]:
# Replace 'LA Rams Defense' from both tables with 'LAR Defense'
stats['Name'] = stats['Name'].str.replace('Los Angeles Rams', 'LAR Defense')
draft['Name'] = draft['Name'].str.replace('LA Rams Defense', 'LAR Defense')

In [13]:
# Replace 'LA Chargers Defense' from both tables with 'LAC Defense'
stats['Name'] = stats['Name'].str.replace('Los Angeles Chargers', 'LAC Defense')
draft['Name'] = draft['Name'].str.replace('LA Chargers Defense', 'LAC Defense')

In [14]:
# Replace 'C.J. Anderson' with 'CJ Anderson' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('C.J. Anderson', 'CJ Anderson')

In [15]:
# Replace 'Ka'imi' with 'Kaimi' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace("Ka'imi", 'Kaimi')

In [16]:
# Replace 'Robert Kelley' with 'Rob Kelley' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('Robert Kelley', 'Rob Kelley')

In [17]:
# Replace 'D'Onta' with 'Donta' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace("D'Onta", 'Donta')

In [18]:
# Replace 'T.J. Yeldon' with 'TJ Yeldon' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('T.J. Yeldon', 'TJ Yeldon')

In [19]:
# Replace 'T.J. Hockenson' on both tables to 'TJ Hockenson'
draft['Name'] = draft['Name'].str.replace('T.J. Hockenson', 'TJ Hockenson')
stats['Name'] = stats['Name'].str.replace('T.J. Hockenson', 'TJ Hockenson')

In [20]:
# Replace 'Ted Ginn' with 'Ted Ginn Jr' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('Ted Ginn', 'Ted Ginn Jr')

In [21]:
# Replace 'NY Giants Defense' from both tables with 'NYG Defense'
stats['Name'] = stats['Name'].str.replace('New York Giants', 'NYG Defense')
draft['Name'] = draft['Name'].str.replace('NY Giants Defense', 'NYG Defense')

In [22]:
# Replace 'Steven Hauschka' with 'Stephen Hauschka' to be consistent with the stats table.
draft['Name'] = draft['Name'].str.replace('Steven Hauschka', 'Stephen Hauschka')

In [23]:
# Replace 'NY Jets Defense' from both tables with 'NYJ Defense'
stats['Name'] = stats['Name'].str.replace('New York Jets', 'NYJ Defense')
draft['Name'] = draft['Name'].str.replace('NY Jets Defense', 'NYJ Defense')

In [24]:
# Replace 'Robert Griffin III' with 'Robert Griffin' to be consistent with the stats table.
draft['Name'] = draft['Name'].str.replace('Robert Griffin III', 'Robert Griffin')

In [25]:
# Replace 'Oakland Defense' from both tables with 'Las Vegas Defense'
stats['Name'] = stats['Name'].str.replace('Las Vegas Raiders', 'Las Vegas Defense')
draft['Name'] = draft['Name'].str.replace('Oakland Defense', 'Las Vegas Defense')

In [26]:
# Replace 'Stevie Johnson' with 'Steve Johnson' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('Stevie Johnson', 'Steve Johnson')

In [27]:
# Replace 'Chris Beanie Wells' with 'Beanie Wells' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('Chris Beanie Wells', 'Beanie Wells')

In [28]:
# Replace 'C.J. Prosise' with 'CJ Prosise' to be consistent with the draft table.
stats['Name'] = stats['Name'].str.replace('C.J. Prosise', 'CJ Prosise')

In [29]:
# Merge the two tables together
data = draft.append(stats, ignore_index=True)

In [30]:
data.shape

(6857, 6)

In [31]:
data.head()

   Pick                 Name Position  Year  Rank  Points
0   1.0       Saquon Barkley       RB  2019   NaN     NaN
1   2.0         Alvin Kamara       RB  2019   NaN     NaN
2   3.0  Christian McCaffrey       RB  2019   NaN     NaN
3   4.0      Ezekiel Elliott       RB  2019   NaN     NaN
4   5.0         James Conner       RB  2019   NaN     NaN

In [32]:
# Merge the 'Rank' values in the columns based on 'Name' and 'Year'
data['Rank'] = data.groupby(['Name', 'Year', 'Position'])['Rank'].apply(lambda x: x.fillna(x.sum()))

In [33]:
# Merge the 'Points' values in the columns based on 'Name' and 'Year'
data['Points'] = data.groupby(['Name', 'Year', 'Position'])['Points'].apply(lambda x: x.fillna(x.sum()))

In [34]:
# Drop NaN values which are all the extra rows that don't have a draft player involved.
data = data.dropna()

In [35]:
data.shape

(1485, 6)

In [36]:
# Showing the new table of merged data
data.head(1485)

       Pick                 Name Position  Year   Rank  Points
0       1.0       Saquon Barkley       RB  2019   40.0   192.1
1       2.0         Alvin Kamara       RB  2019   54.0   167.5
2       3.0  Christian McCaffrey       RB  2019    2.0   355.2
3       4.0      Ezekiel Elliott       RB  2019   18.0   257.7
4       5.0         James Conner       RB  2019  139.0   111.5
...     ...                  ...      ...   ...    ...     ...
1480  141.0         Coby Fleener       TE  2012  307.0    40.1
1481  142.0          NYJ Defense      DST  2012  103.0   133.0
1482  143.0          Brent Celek       TE  2012  222.0    72.4
1483  144.0     Laurent Robinson       WR  2012  370.0    23.2
1484  145.0      Buffalo Defense      DST  2012  123.0   120.0

[1485 rows x 6 columns]

In [37]:
# Checking to see if any values are still 0.0 meaning there were different spellings of the Names
data.loc[data['Rank'] == 0.0]

       Pick                  Name Position  Year  Rank  Points
194     2.0           LeVeon Bell       RB  2018   0.0     0.0
225    33.0       Jerick McKinnon       RB  2018   0.0     0.0
509   100.0           Andrew Luck       QB  2017   0.0     0.0
558   149.0     Jonathan Williams       RB  2017   0.0     0.0
581   172.0          Spencer Ware       RB  2017   0.0     0.0
588   179.0          Joe Williams       RB  2017   0.0     0.0
609   200.0  Sebastian Janikowski        K  2017   0.0     0.0
673    53.0           Josh Gordon       WR  2016   0.0     0.0
876    88.0           Victor Cruz       WR  2015   0.0     0.0
931   143.0      Breshad Perriman       WR  2015   0.0     0.0
935   147.0         Ty Montgomery       WR  2015   0.0     0.0
1034   52.0              Ray Rice       RB  2014   0.0     0.0

##### These players left over are players who were drafted, but never played in the season. All the others are replaced so the spelling from the two tables are consistent.

In [38]:
# Change the Floats in 'Pick' and 'Rank' to Integers
data['Pick'] = data['Pick'].astype(int)
data['Rank'] = data['Rank'].astype(int)

In [39]:
data.shape

(1485, 6)

##### We have 1485 rows, but with 12 players in a draft for 15 rounds that equates to 1,440 players being drafted. We are going to drop any players that are outside of the first 180 picks in a draft.

In [40]:
# data_1 is going to be the data chart created for the pie graph
data_1 = data.drop(data[(data['Pick'] > 180)].index)
data_1 = data_1.reset_index(drop=True)

In [41]:
data_1.head(183)

     Pick                 Name Position  Year  Rank  Points
0       1       Saquon Barkley       RB  2019    40   192.1
1       2         Alvin Kamara       RB  2019    54   167.5
2       3  Christian McCaffrey       RB  2019     2   355.2
3       4      Ezekiel Elliott       RB  2019    18   257.7
4       5         James Conner       RB  2019   139   111.5
..    ...                  ...      ...   ...   ...     ...
178   179         Deebo Samuel       WR  2019   102   132.1
179   180         Miles Boykin       WR  2019   320    37.8
180     1          Todd Gurley       RB  2018     6   313.1
181     2          LeVeon Bell       RB  2018     0     0.0
182     3        David Johnson       RB  2018    37   196.7

[183 rows x 6 columns]

In [42]:
data_1.shape

(1376, 6)

##### The reason it's not 1440 is because Year 2012, 2014, and 2016 don't have data up to the 180th pick. The other years do cross that number however.

## Pie Chart Visual # 1

In [43]:
# Find the median of all the round 1 draft players and get the average fantasy points for that round, across all 8 years. 
r1 = []
for i in range(1,13):
    r1.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r1 = sum(r1)/12
r1

183.49062500000002

In [44]:
# Same thing as before, except for round 2 and so on until round 15
r2 = []
for i in range(13,25):
    r2.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r2 = sum(r2)/12
r2

165.94791666666669

In [45]:
r3 = []
for i in range(25,37):
    r3.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r3 = sum(r3)/12
r3

154.53645833333331

In [46]:
r4 = []
for i in range(37,49):
    r4.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r4 = sum(r4)/12
r4

130.89374999999998

In [47]:
r5 = []
for i in range(49,61):
    r5.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r5 = sum(r5)/12
r5

138.21458333333337

In [48]:
r6 = []
for i in range(61,73):
    r6.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r6 = sum(r6)/12
r6

136.45729166666666

In [49]:
r7 = []
for i in range(73,85):
    r7.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r7 = sum(r7)/12
r7

116.60312499999999

In [50]:
r8 = []
for i in range(85,97):
    r8.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r8 = sum(r8)/12
r8

116.22812499999998

In [51]:
r9 = []
for i in range(97,109):
    r9.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r9 = sum(r9)/12
r9

116.65729166666665

In [52]:
r10 = []
for i in range(109,121):
    r10.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r10 = sum(r10)/12
r10

129.65208333333337

In [53]:
r11 = []
for i in range(121,133):
    r11.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r11 = sum(r11)/12
r11

108.62604166666665

In [54]:
r12 = []
for i in range(133,145):
    r12.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r12 = sum(r12)/12
r12

101.44687499999999

In [55]:
r13 = []
for i in range(145,157):
    r13.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r13 = sum(r13)/12
r13

110.43482142857142

In [56]:
r14 = []
for i in range(157,169):
    r14.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r14 = sum(r14)/12
r14

93.29880952380951

In [57]:
r15 = []
for i in range(169,181):
    r15.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())
r15 = sum(r15)/12
r15

98.93333333333334

In [58]:
# Create a table to export for the pie chart
pie = {'Draft Round': ['Round 1', 'Round 2', 'Round 3', 'Round 4', 'Round 5', 'Round 6', 'Round 7', 'Round 8', 
                'Round 9', 'Round 10', 'Round 11', 'Round 12', 'Round 13', 'Round 14', 'Round 15'],
      'Avg Fantasy Points': ['183.6', '165.9', '154.5', '130.9', '138.2', '136.5', '116.6', '116.2',
                             '116.7', '129.7', '108.6', '101.4', '110.8', '93.3', '99.1']
      }
pie = pd.DataFrame(pie, columns = ['Draft Round', 'Avg Fantasy Points'])
pie

   Draft Round Avg Fantasy Points
0      Round 1              183.6
1      Round 2              165.9
2      Round 3              154.5
3      Round 4              130.9
4      Round 5              138.2
5      Round 6              136.5
6      Round 7              116.6
7      Round 8              116.2
8      Round 9              116.7
9     Round 10              129.7
10    Round 11              108.6
11    Round 12              101.4
12    Round 13              110.8
13    Round 14               93.3
14    Round 15               99.1

In [59]:
# Export the table to a csv file
pie.to_csv('Pie Chart.csv', index=False)

## Visual # 2

##### In order to do this visual, need the players grouped by position. The charts need to be made for the RB, WR, QB, TE, K and DEF positions.

In [60]:
data_1.head(-5)

      Pick                 Name Position  Year  Rank  Points
0        1       Saquon Barkley       RB  2019    40   192.1
1        2         Alvin Kamara       RB  2019    54   167.5
2        3  Christian McCaffrey       RB  2019     2   355.2
3        4      Ezekiel Elliott       RB  2019    18   257.7
4        5         James Conner       RB  2019   139   111.5
...    ...                  ...      ...   ...   ...     ...
1366   136        Alfred Morris       RB  2012    18   240.3
1367   137          NYG Defense      DST  2012    82   148.0
1368   138       Jonathan Dwyer       RB  2012   208    80.9
1369   139         Evan Royster       RB  2012   335    31.7
1370   140       Jerome Simpson       WR  2012   365    25.4

[1371 rows x 6 columns]

In [61]:
# Only keep the rows that have 'RB' in their position
rb_data = data_1[data_1.Position == 'RB']
# Create a rank of the players based on there Points
rb_data = rb_data.sort_values(by=['Points'], ascending = False)

In [62]:
rb_data.head(463)

      Pick                 Name Position  Year  Rank  Points
2        3  Christian McCaffrey       RB  2019     2   355.2
544      5        David Johnson       RB  2016     4   327.8
376     17          Todd Gurley       RB  2017     2   319.3
180      1          Todd Gurley       RB  2018     6   313.1
1053     3       Jamaal Charles       RB  2013     3   308.1
...    ...                  ...      ...   ...   ...     ...
939     52             Ray Rice       RB  2014     0     0.0
212     33      Jerick McKinnon       RB  2018     0     0.0
508    149    Jonathan Williams       RB  2017     0     0.0
538    179         Joe Williams       RB  2017     0     0.0
425     66      Darren McFadden       RB  2017   636    -0.2

[462 rows x 6 columns]

In [63]:
# Do the same to the remaining positions
wr_data = data_1[data_1.Position == 'WR']
wr_data = wr_data.sort_values(by=['Points'], ascending = False)

In [64]:
wr_data.head()

     Pick              Name Position  Year  Rank  Points
910    23     Antonio Brown       WR  2014    18   251.9
713     6     Antonio Brown       WR  2015    18   246.2
206    27       Tyreek Hill       WR  2018    21   241.0
716     9       Julio Jones       WR  2015    21   239.1
758    51  Brandon Marshall       WR  2015    24   230.2

In [65]:
qb_data = data_1[data_1.Position == 'QB']
qb_data = qb_data.sort_values(by=['Points'], ascending = False)

In [66]:
qb_data.head()

      Pick             Name Position  Year  Rank  Points
90      91    Lamar Jackson       QB  2019     1   421.7
297    118  Patrick Mahomes       QB  2018     1   417.0
1083    33   Peyton Manning       QB  2013     1   410.1
827    120       Cam Newton       QB  2015     1   389.1
572     33    Aaron Rodgers       QB  2016     1   380.0

In [67]:
te_data = data_1[data_1.Position == 'TE']
te_data = te_data.sort_values(by=['Points'], ascending = False)

In [68]:
te_data.head()

      Pick            Name Position  Year  Rank  Points
1073    23    Jimmy Graham       TE  2013    26   217.5
213     34    Travis Kelce       TE  2018    41   191.6
918     31  Rob Gronkowski       TE  2014    40   184.4
720     13  Rob Gronkowski       TE  2015    41   183.6
313    134   George Kittle       TE  2018    54   170.7

In [69]:
k_data = data_1[data_1.Position == 'K']
k_data = k_data.sort_values(by=['Points'], ascending = False)

In [70]:
k_data.head()

      Pick                Name Position  Year  Rank  Points
1194   144  Stephen Gostkowski        K  2013    50   176.0
704    165       Justin Tucker        K  2016    48   175.0
510    151  Stephen Gostkowski        K  2017    43   172.0
858    151  Stephen Gostkowski        K  2015    49   171.0
1211   161         Matt Prater        K  2013    59   169.0

In [71]:
dst_data = data_1[data_1.Position == 'DST']
dst_data = dst_data.sort_values(by=['Points'], ascending = False)

In [72]:
dst_data.head()

      Pick                 Name Position  Year  Rank  Points
151    152  New England Defense      DST  2019    25   236.0
1142    92      Seattle Defense      DST  2013    28   213.0
1168   118   Cincinnati Defense      DST  2013    43   189.0
855    148       Denver Defense      DST  2015    38   187.0
877    170  Kansas City Defense      DST  2015    39   186.0

In [73]:
# Export all the data to csv
rb_data.to_csv('RB Data.csv', index=False)
wr_data.to_csv('WR Data.csv', index=False)
qb_data.to_csv('QB Data.csv', index=False)
te_data.to_csv('TE Data.csv', index=False)
k_data.to_csv('K Data.csv', index=False)
dst_data.to_csv('DST Data.csv', index=False)

## Final Visual

In [74]:
# Shape of table for last visual
data_1.shape

(1376, 6)

In [75]:
# Collect the average for each pick over the last 8 years grouped into Pick number. 
avg = []
for i in range(1,181):
    avg.append(data_1.loc[data_1['Pick'] == i, 'Points'].mean())

In [76]:
# Just to prove we have 180 rows in the list, proving an average data point for each pick in the draft. 
len(avg)

180

In [77]:
avg

[197.52500000000003,
 134.4375,
 219.5625,
 208.275,
 178.97500000000002,
 232.675,
 151.5625,
 170.78750000000002,
 171.54999999999998,
 164.9,
 183.07500000000002,
 188.5625,
 153.47500000000002,
 167.6375,
 186.1625,
 138.58749999999998,
 142.9125,
 194.88750000000002,
 202.05,
 171.61249999999998,
 172.025,
 133.75,
 182.3375,
 145.9375,
 135.5375,
 183.83749999999998,
 167.3375,
 189.3,
 162.86249999999998,
 108.275,
 162.02499999999998,
 165.61249999999998,
 177.72500000000002,
 132.1625,
 127.625,
 142.13750000000002,
 144.975,
 132.175,
 136.525,
 122.8375,
 127.08749999999999,
 163.39999999999998,
 144.075,
 137.11249999999998,
 92.97500000000001,
 106.39999999999999,
 142.4875,
 120.67499999999998,
 174.95000000000002,
 126.45,
 147.075,
 149.925,
 103.16250000000001,
 142.20000000000002,
 152.0375,
 136.275,
 103.23749999999998,
 146.07500000000002,
 176.475,
 100.71249999999999,
 142.3625,
 120.4125,
 93.41250000000001,
 173.675,
 250.20000000000002,
 103.25000000000001,
 102.15000000000002,
 149.96249999999998,
 132.05,
 103.15,
 105.97500000000001,
 160.8875,
 112.58749999999999,
 124.55000000000001,
 110.925,
 93.97500000000001,
 120.83749999999999,
 107.35000000000002,
 121.8375,
 81.2375,
 111.56249999999999,
 137.6125,
 116.2125,
 160.55,
 127.06249999999999,
 103.13749999999999,
 122.25000000000001,
 92.26249999999999,
 110.26249999999999,
 141.93749999999997,
 183.3,
 111.1875,
 96.47500000000001,
 95.8125,
 107.5125,
 103.53750000000001,
 120.675,
 115.3375,
 101.4,
 69.0875,
 115.25,
 115.92499999999998,
 144.925,
 124.64999999999999,
 108.7125,
 77.9875,
 173.28750000000002,
 132.65,
 140.425,
 128.225,
 113.25,
 146.27499999999998,
 130.17499999999998,
 125.925,
 84.9125,
 106.35,
 193.0875,
 153.2,
 102.0875,
 131.91250000000002,
 106.57499999999999,
 131.7875,
 97.3,
 76.1,
 104.91250000000001,
 104.32499999999999,
 69.3625,
 125.23749999999998,
 180.5625,
 83.53750000000001,
 142.21249999999998,
 81.6,
 104.55000000000001,
 85.225,
 125.30000000000001,
 118.07499999999999,
 100.4875,
 114.52499999999999,
 98.73750000000001,
 112.0375,
 80.225,
 83.8375,
 88.5125,
 105.85000000000001,
 163.175,
 120.21428571428571,
 74.10000000000001,
 121.45714285714287,
 104.95714285714287,
 81.20000000000002,
 122.54285714285713,
 111.0,
 114.68571428571428,
 84.3,
 122.95714285714287,
 104.62857142857142,
 87.14285714285714,
 86.48571428571428,
 79.7,
 122.7142857142857,
 121.89999999999999,
 101.65714285714286,
 101.78571428571429,
 49.65,
 99.36666666666667,
 117.51666666666667,
 74.73333333333333,
 76.93333333333332,
 57.9,
 138.12,
 123.1,
 29.540000000000003,
 97.64,
 101.66,
 120.8,
 78.96,
 109.8,
 141.52,
 107.2,
 80.96]

In [78]:
# Create a new dataframe for the last visual
data_2 = pd.DataFrame(avg, columns=['AVG Points per Pick'])

In [79]:
# Add another column for the picks. 
data_2['Pick'] = data_2.index + 1

In [80]:
data_2.head()

   AVG Points per Pick  Pick
0             197.5250     1
1             134.4375     2
2             219.5625     3
3             208.2750     4
4             178.9750     5

In [81]:
data_2['Round AVG'] = ''

In [82]:
data_2.head()

   AVG Points per Pick  Pick Round AVG
0             197.5250     1
1             134.4375     2
2             219.5625     3
3             208.2750     4
4             178.9750     5

In [83]:
# Add the column of the averages calculated before to each. 
for i in range(0,12):
    data_2.loc[[i],'Round AVG'] = 183.6

In [84]:
for i in range(12,24):
    data_2.loc[[i],'Round AVG'] = 165.9

In [85]:
for i in range(24,36):
    data_2.loc[[i],'Round AVG'] = 154.5

In [86]:
for i in range(36,48):
    data_2.loc[[i],'Round AVG'] = 130.9

In [87]:
for i in range(48,60):
    data_2.loc[[i],'Round AVG'] = 138.2

In [88]:
for i in range(60,72):
    data_2.loc[[i],'Round AVG'] = 136.5

In [89]:
for i in range(72,84):
    data_2.loc[[i],'Round AVG'] = 116.6

In [90]:
for i in range(84,96):
    data_2.loc[[i],'Round AVG'] = 116.2

In [91]:
for i in range(96,108):
    data_2.loc[[i],'Round AVG'] = 116.7

In [92]:
for i in range(108,120):
    data_2.loc[[i],'Round AVG'] = 129.7

In [93]:
for i in range(120,132):
    data_2.loc[[i],'Round AVG'] = 108.6

In [94]:
for i in range(132,144):
    data_2.loc[[i],'Round AVG'] = 101.4

In [95]:
for i in range(144,156):
    data_2.loc[[i],'Round AVG'] = 110.8

In [96]:
for i in range(156,168):
    data_2.loc[[i],'Round AVG'] = 93.3

In [97]:
for i in range(168,180):
    data_2.loc[[i],'Round AVG'] = 99.1

In [98]:
data_2.head()

   AVG Points per Pick  Pick Round AVG
0             197.5250     1     183.6
1             134.4375     2     183.6
2             219.5625     3     183.6
3             208.2750     4     183.6
4             178.9750     5     183.6

In [99]:
# Export it to a csv
data_2.to_csv('Final Data.csv', index=False)

In [100]:
# Pick 65 is a large outlier so just seeing what's in it to make sure it's accurate
data_1.loc[data_1['Pick'] == 65]

      Pick            Name Position  Year  Rank  Points
64      65       Matt Ryan       QB  2019    12   281.4
244     65      Drew Brees       QB  2018     9   303.8
424     65  Russell Wilson       QB  2017     1   347.8
604     65      Frank Gore       RB  2016    46   176.3
772     65       Tom Brady       QB  2015     2   343.7
952     65       Matt Ryan       QB  2014     9   284.0
1115    65     T.Y. Hilton       WR  2013    93   138.9
1295    65   Jeremy Maclin       WR  2012   116   125.7

In [101]:
data_1.head(181)

     Pick                  Name Position  Year  Rank  Points
0       1        Saquon Barkley       RB  2019    40   192.1
1       2          Alvin Kamara       RB  2019    54   167.5
2       3   Christian McCaffrey       RB  2019     2   355.2
3       4       Ezekiel Elliott       RB  2019    18   257.7
4       5          James Conner       RB  2019   139   111.5
..    ...                   ...      ...   ...   ...     ...
176   177        Tre'Quan Smith       WR  2019   270    53.4
177   178  Philadelphia Defense      DST  2019   145   109.0
178   179          Deebo Samuel       WR  2019   102   132.1
179   180          Miles Boykin       WR  2019   320    37.8
180     1           Todd Gurley       RB  2018     6   313.1

[181 rows x 6 columns]